<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define VersionNumber="!(bind.FileVersion.BankFile)" ?>
  
  <Product Id="*"
           Name="Myna Bank"
           Language="1033"
           Version="$(var.VersionNumber)"
           Manufacturer="Niels Stockfleth"
           UpgradeCode="A6325DB7-FD9E-4C3B-BFDD-889E03585809">
    <Package Id="*" InstallerVersion="400" Compressed="yes"/>

    <Media Id="1" Cabinet="MynaBank.cab" EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ApplicationFolder" Name="Myna Bank">
          <Directory Id="LanguageFolder.DE" Name="de" />
        </Directory>          
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Myna Bank"/>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="ApplicationFolder">
      <Component Id="Bank" Guid="3FAFDC1B-C8C3-4C8E-8B3C-8316B97A0266">
        <File Id="BankFile" Source="$(var.Bank.TargetDir)\MynaBank.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="BankConfig" Guid="D5911E1E-5C96-46B9-9CEF-AC85A0D27E10">
        <File Id="BankConfigFile" Source="$(var.Bank.TargetDir)\MynaBank.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SQLiteInterop" Guid="B9D8AD3D-429D-4C98-A0B5-6067D99E07AD">
        <File Id="SQLiteInteropFile" Source="$(var.Bank.ProjectDir)\lib\SQLite.Interop.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SQLite" Guid="32BE94C1-2AD5-4099-9731-2213A1D8FCC9">
        <File Id="SQLiteFile" Source="$(var.Bank.ProjectDir)\lib\System.Data.SQLite.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SQLiteConfig" Guid="231E0D95-0F6B-48F0-BC28-FB5870C78206">
        <File Id="SQLiteConfigFile" Source="$(var.Bank.ProjectDir)\lib\System.Data.SQLite.dll.config" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="LanguageFolder.DE">
      <Component Id="ResourcesBank.DE" Guid="F83A0DCB-CE9C-4FA7-B606-A38521D0C56C">
        <File Id="ResourcesBankFile.DE" Source="$(var.Bank.TargetDir)\de\MynaBank.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
    </DirectoryRef>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="BankShortcut" Guid="E85DD743-1583-446A-BA6B-D079F7F8156E">
        <Shortcut Id="BankStartMenuShortcut" 
                  Name="Myna Bank" 
                  Description="A bank account manager"
                  Target="[#BankFile]"
                  WorkingDirectory="ApplicationFolder"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MynaBank" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <Feature Id="MainApplication" Title="Myna Bank" Level="1">
      <ComponentRef Id="Bank" />
      <ComponentRef Id="BankConfig" />
      <ComponentRef Id="SQLiteInterop" />
      <ComponentRef Id="SQLite" />
      <ComponentRef Id="SQLiteConfig" />
      <ComponentRef Id="ResourcesBank.DE" />
      <ComponentRef Id="BankShortcut" />
    </Feature>

    <Icon Id="Icon.exe" SourceFile="$(var.Bank.ProjectDir)\Images\icon.ico"/>

    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    
    <WixVariable Id="WixUIBannerBmp" Value="topbanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="welcome.bmp" />
    
    <UI Id="WixUI_Minimal">
            
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <!-- This is the welcome dialog you specified-->
      <DialogRef Id="WelcomeDlg" /> 

      <!-- Hook the new welcome dialog to the next one in the stack-->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish> 

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />    

  </Product>

</Wix>
